<%- include('header', {pagetitle: 'Hozzávaló felvétele'}) -%>

<div>
    <div class="row  padding-form" >
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <h2>Hozzávaló felvétele</h2>
            <form method="POST">
                <label class ="sr-only cell-width-ingr" for="nevInput">Név</label>
                <input class ="width_input" type="text" id="nevInput" name="nev" placeholder="Étel neve" required>
                <br>
                <label class ="sr-only cell-width-ingr" for="mennyInput">Mennyiség</label>
                <input class ="width_input" type="number" id="mennyInput" name="menny" placeholder="123" required>
                <br>
                <label class="sr-only cell-width-ingr" for="mertInput">Mértékegység</label>
                <input class ="width_input" type="text" id="mertInput" name="mert" placeholder="kg" required>
                <br>

                <input type ="submit" href="/ingredient/<%= food._id%>" class="btn btn-success mt-4" value="Új hozzávaló felvétele"/>
                <a href="/ingredient/<%= food._id%>" class="btn btn-danger mt-4 margin-left-newingr">Mégse</a>
            </form>

        </div>
    </div>
</div>

<%- include('footer') -%>